// Dropdown

.dropdown {
  display: inline-block;
  position: relative;
  &:hover .dropdown-body {
    display: block;
  }
}
.dropdown-body {
  display: none;
  position: absolute;
  top: 100%;
  white-space: nowrap;
}
.dropdown-body-right {
  right: 0;
}

