// Inputs

// Search
.input-search {
  box-shadow: none;
  box-sizing: border-box;
  height: 2*$space;
  line-height: 1.5*$space;
  padding: .25*$space $space;
  -webkit-appearance: none;
  border-radius: $space;
}