// Theme

// Colors
$blue: #0096cc;
$dark: #1c2226;
$light-gray: #dadfe0;
$mid-gray: #cacfd0;

// Base elements
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue,10%);
  }
}

// Color utilities
.white { color: #fff; }
.dark { color: $dark; }
.blue { color: $blue; }
.light-gray { color: $light-gray; }
.mid-gray { color: $mid-gray; }

.bg-white { background-color: #fff; }
.bg-dark { background-color: $dark; }
.bg-blue { background-color: $blue; }
.bg-light-gray { background-color: $light-gray; }
.bg-mid-gray { background-color: $mid-gray; }

.bg-darker { background-color: darken($dark,10%); }

// Links
.link-white {
  color: #fff;
  font-weight: bold;
}


// Forms

// Inputs
.input-dark {
  color: #fff;
  background-color: lighten($dark,10%);
  border: 1px solid transparent;
  transition: all .3s ease;
  outline: none;
  &:focus {
    background-color: lighten($dark,5%);
    border: 1px solid $blue;
    box-shadow: 0 0 .25*$space rgba($blue,.8);
  }
}
