// Dropbar

@import "basscss.scss";

// Dropbar
.dropbar {
  transition-property: height;
  transition-duration: .25s;
  transition-timing-function: ease;
  overflow: hidden;
}

// Transition speeds
.trans-slow { transition-duration: .5s; }
.trans-medium { transition-duration: .25s; }
.trans-fast { transition-duration: .1s; }

// Transition timing functions
.trans-ease { transition-timing-function: ease; }
.trans-linear { transition-timing-function: linear; }
.trans-ease-in-out { transition-timing-function: ease-in-out; }

// Theme
$blue: #0cf;
$dark: #1c2226;
$light-gray: #dadfe0;
$mid-gray: #cacfd0;

.white { color: #fff; }

.bg-dark { background-color: $dark; }